In [1]:
print("hello world")

hello world

In [2]:
print(123)

123

In [3]:
print('hello world')

hello world

In [4]:
age=22
print("my age is:",age)

my age is: 22

In [5]:
stander =21
print ("my class=",stander)

my class= 21

In [7]:
## fstring
# f string is used for formatting 
# it is used when we used to call my 
print(f"my class={stander}")

my class=21

# format()

In [11]:
name="sakshi"
age=22
print("my name is {} and age is {} ". format(name,age))

my name is sakshi and age is 22

In [13]:
# placeholder
name="sakshi"
age=22
print("my name is {firstname} and age is {firstage}".format(firstname=name,firstage =age))

my name is sakshi and age is 22

In [14]:
# placeholder
name="sakshi"
age=22
print("my name is {firstname} and age is {firstage}".format(firstage =age,firstname=name))

my name is sakshi and age is 22

In [17]:
name="shivangi priya"
age=24
degree="bed"
print("my age is {firstage} and i have completed : my degree of {firstdegree} with the name of {firstname}".format(firstage=age,firstdegree=degree,firstname=name))

my age is 24 and i have completed : my degree of bed with the name of shivangi priya

## control flow
### decision making statements
* it is a kind of making decision during occured situation of a program execution and action can be taken according 
to specified condition.
* structure of decision making evaluate several expression that provide true  or false as a result.                         * it is up to you to decide which type of action want to take and execute the statements based upon true and false.
    
    **These are several topics of decision making which going to be discussed below:**
    1. **if***
    2. **if else**
    3. **nested if**
    4. **if else if**
    5. **single statement suites**

In [18]:
## if statement
age=18
if age>=18:
    print("you are eligible to vote")

you are eligible to vote

In [19]:
age=45
if age>=18:
    print("you are eligible to vote")

you are eligible to vote

In [25]:
age=8
if age<=18:
    print("you are not eligible to volt")

you are not eligible to volt

In [1]:
print("hello world")

hello world

In [2]:
print(123)

123

In [3]:
print('hello wprld')

hello wprld

In [4]:
age=32
print("my age is:" ,age)

my age is: 32

In [10]:
std=12
print("my class is= " ,std)

my class is=  12

In [11]:
## f string (it is for formatting)
print(f"my age is: {age}")

my age is: 32

In [13]:
## format()
name="sakshi"
age= 32
print("my name is {} and my age is {} ".format(name,age))

my name is sakshi and my age is 32

In [14]:

print("my name is {} and my age is {} ".format(age ,name))

my name is 32 and my age is sakshi

In [15]:
## placeholder
print("my name is {firstname} and my age is {firstage} ".format( firstage=age , firstname=name))

my name is sakshi and my age is 32

In [20]:
name="shreya"
city="patna"
state="bihar" 
study ="btech"
print("i am {} belogs to {} in {} persuing my{} degree".format(name,city,state,study))

i am shreya belogs to patna in bihar persuing mybtech degree

In [2]:
name="shreya"
city="patna"
state="bihar" 
study ="btech"
print("i am {firstname} belogs to {firstcity} in {firststate} persuing my{firststudy} degree".format(firstcity=city,firstname=name,firststudy=study,firststate=state))

i am shreya belogs to patna in bihar persuing mybtech degree

In [4]:
name="shivangi priya"
age=25
degree="bed"
print("my age is {} and i have completed : my degree of {} with name of {} ".format( age, degree,name))

my age is 25 and i have completed : my degree of bed with name of shivangi priya

In [6]:
name="shivangi priya"
age=25
degree="bed"
print(f"my age is {age} and i have completed : my degree of {degree} with name of {name} ")

my age is 25 and i have completed : my degree of bed with name of shivangi priya

## control flow
### decision making statement

## if statement

In [7]:
age=18
if age >=18:
    print("you are eligible to vote")

you are eligible to vote

In [10]:
age=28
if age >=18:
    print("you are eligible to vote")

you are eligible to vote

In [12]:
age=3
if age <=18:
    print("you are not eligible to volt")

you are not eligible to volt

In [13]:
## input gives us a prompt box
## the default datatype of input is string
name=input("enter the name")

enter the name sakshi shreya

In [14]:
name

'sakshi shreya'

In [15]:
## typecasting
### here we convert one datatype to another datatype by using typecasting
### for eg here we have changed the str datatype to int datatype by applying int 

age=int(input("enter the age"))

enter the age 25

In [16]:
age

25

In [18]:
type(age)

int

## task
## check whether age >= 18 and age <=45
## display a message you are young blood

In [27]:
age=int(input("enter the age"))

enter the age 25

In [22]:
if age>= 18:
    print("you are a young blood")

you are a young blood

In [23]:
if age <=45:
    print("you are young blood")

you are young blood

In [28]:
if age>=18 and age <= 45:
    print("you are a young blood")

you are a young blood

## if else statement

In [29]:
age=int(input("enter the age"))

enter the age 55

In [32]:
if age>=18 and age<=45:
    print("you are a young blood")
else:
        print("thanku your application is rejected")

thanku your application is rejected

In [ ]:
## mall input the product price
## product > 1000 rs 20% off
## print the product price after removing the discount
## product <= 1000 rs 30% off
## print the product price after removing the discount

In [6]:
product_price=int(input("enter the price"))
if product_price>1000:
    print("the price of the prduct {}". format (product_price*0.8))
else:
    print("the price of the product {}".format(product_price*.7))

enter the price 100

the price of the product 70.0

## if elif else statement

In [ ]:
## mall input the product price
## product >  3000 rs 20% off
## product price== 4000 
## print you will get a goa trip
## print the product price after removing the discount
## product >= 2000 rs and <= 3000 30% off
## print the product price after removing the discount
## product >= 1000 rs and <=2000 40% off
## print the product price after removing the discount
## product_price==2999 
## print you will get additional gift

In [25]:
product_price=int(input("enter the price"))
if product_price> 3000:
    if product_price==4000:
        print("you will get a goa trip")
    print("the price of the product is {}".format(product_price*0.8))
elif product_price >= 2000 and product_price<= 3000:
     if product_price==2999:
        print("you will get additional gift")
        print("the price of the product is {}".format(product_price*0.7))
elif product_price==2999:
    print("you will get additional gift")
else:
    print("the price of the product is {}".format(product_price*0.6))

enter the price 4000

you will get a goa trip
the price of the product is 3200.0

## single statements suites

In [28]:
val=int(input("enter the number"))
if (val<=1000):print("value is less than 1000")
else:
    print("not interested")

enter the number 564664

not interested

In [3]:
val=int(input("enter the number"))
if (val>50000):print("you are invited in the group")
else:print("go home")

enter the number 676

go home

## loop  statements
1. while loop
2. for loop
3. nested loop
4. loop control
   (break, continue ,pass)

## while loop

In [ ]:
## while loop-- unless and untill i do not reach the given condition it will keep on executin.
## while is continuous itterating condition.unless and untill the given condition become true.
## with while we can also put else block.

### while loop in python is used to execute a block of statement repeatedly untill a given condition is stisfied.
### and when the condition becomes false, the line immediately after the loop in the program is executed.

In [ ]:
=25
while joining_age<=30:
    print(joining_age)
    joining_age=joining_age+1
else:
        print("its time for retirement")## while loop while else
joining_age

In [ ]:
### ATM machine with 1000 rs
total_amount=1000
while total_amount !=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("put more money to the atm bank people")