In [1]:
## example of while loop
i=0
while (i<7):
    print(i)
    i=i+1
    print("you are done")

0
you are done
1
you are done
2
you are done
3
you are done
4
you are done
5
you are done
6
you are done

In [4]:
### while else loop
i=1
while i<=10:
    print(i)
    i=i+2
    print("you are eligible")
else:
    print("you are not eligible")

1
you are eligible
3
you are eligible
5
you are eligible
7
you are eligible
9
you are eligible
you are not eligible

In [14]:
#### example while loop
i=int(input("enter the number"))
while (i<15):
    i=int(input("enter the number"))
    print(i)

enter the number 2
enter the number 3

3

enter the number 4

4

enter the number 6

6

enter the number 56

56

In [15]:
## example while loop
i=7
while(i>1):
    print(i)
    i=i-1
    print("you are very cute")
else:
    print("you are stupid")

7
you are very cute
6
you are very cute
5
you are very cute
4
you are very cute
3
you are very cute
2
you are very cute
you are stupid

# for loop

##### for loop are used in sequential traversal. For example traversing a list or string or array etc. in python there is 'for in' loop which is used as foreach loop in other programming language.

In [8]:
lst=["sakshi",1,3,5,"shivani",1,"saksham"]

In [7]:
type(lst)

list

In [9]:
lst[5]

1

In [10]:
lst[4]

'shivani'

In [11]:
for x in lst:
    print(x)

sakshi
1
3
5
shivani
1
saksham

In [13]:
lst=[1,2,3,4,5,6,7,8]
for s in lst:
    print(s)

1
2
3
4
5
6
7
8

In [25]:
fruits_lst=["mango","cherry","guava","banana","litchi"]
for a in fruits_lst:
    print(a)
    if a=="cherry":
        print("the fruit is cherry")
else:
    print("this is normal fruit")

mango
cherry
the fruit is cherry
guava
banana
litchi
this is normal fruit

In [27]:
fruit="mango"
for s in fruit:
    print(s,end="")

mango

## nested loop

In [31]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [32]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [37]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [40]:
n=7
for i in range (0,n):
    for j in range(0,i+1):
        print(j ,end="")
    print("\r")

0
01
012
0123
01234
012345
0123456

### loop controls
# break   
# continue

In [48]:
## break
fruit_list=["mango","banana","cherry","apple","papaya"]
for i in fruit_list:
    if i== "apple":
        print("the fruit is apple")
        break
    print(i)

mango
banana
cherry
the fruit is apple

In [49]:
### pass
fruit_list=["mango","banana","cherry","apple","papaya"]
for i in fruit_list:
    if i== "apple":
        print("the fruit is apple")
        pass
    print(i)

mango
banana
cherry
the fruit is apple
apple
papaya

In [50]:
## continue
fruit_list=["mango","banana","cherry","apple","papaya"]
for i in fruit_list:
    if i== "apple":
        print("the fruit is apple")
        continue
    print(i)

mango
banana
cherry
the fruit is apple
papaya